.todoItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    height: auto;
    min-height: 50px;
    max-height: 100px;
    background-image: linear-gradient( 83.2deg,  rgba(150,93,233,1) 10.8%, rgba(99,88,238,1) 94.3% );    
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    
}

.todoItem-p{
    font-family: 'Poppins';
    text-align: center;
}
.todoItem-p--completed{
    text-decoration: line-through;
}

.completed{ 
    margin-right: 10px;
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: 600;
    cursor: pointer;
}
.remove{
    margin-left: 10px;
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: 600;
    color: #070707;
    transition: ease-in 0.2s;
    cursor: pointer;
}
.remove:hover{
    color: red;
    transition: ease-out 0.3s;
}

.completed--active{
    color: #34eb3a;
}



